<p id="notice"><%= notice %></p>

<p>
  <b>Shot:</b>
  <%= @command_item.shot_id %>
</p>

<p>
  <b>Command:</b>
  <%= @command_item.command_id %>
</p>


<%= link_to 'Edit', edit_command_item_path(@command_item) %> |
<%= link_to 'Back', command_items_path %>
