<h1>Listing debug_outputs</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Detail</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @debug_outputs.each do |debug_output| %>
  <tr>
    <td><%= debug_output.title %></td>
    <td><%= debug_output.detail %></td>
    <td><%= link_to 'Show', debug_output %></td>
    <td><%= link_to 'Edit', edit_debug_output_path(debug_output) %></td>
    <td><%= link_to 'Destroy', debug_output, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Debug output', new_debug_output_path %>
