<%= form_for(@launch_item) do |f| %>
  <% if @launch_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@launch_item.errors.count, "error") %> prohibited this launch_item from being saved:</h2>

      <ul>
      <% @launch_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :shot_id %><br />
    <%= f.number_field :shot_id %>
  </div>
  <div class="field">
    <%= f.label :launch_id %><br />
    <%= f.number_field :launch_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
