<%= form_for(@club_path_item) do |f| %>
  <% if @club_path_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@club_path_item.errors.count, "error") %> prohibited this club_path_item from being saved:</h2>

      <ul>
      <% @club_path_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :shot_id %><br />
    <%= f.number_field :shot_id %>
  </div>
  <div class="field">
    <%= f.label :club_path_id %><br />
    <%= f.number_field :club_path_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
