<h1>Listing club_path_items</h1>

<table>
  <tr>
    <th>Shot</th>
    <th>Club path</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @club_path_items.each do |club_path_item| %>
  <tr>
    <td><%= club_path_item.shot_id %></td>
    <td><%= club_path_item.club_path_id %></td>
    <td><%= link_to 'Show', club_path_item %></td>
    <td><%= link_to 'Edit', edit_club_path_item_path(club_path_item) %></td>
    <td><%= link_to 'Destroy', club_path_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Club path item', new_club_path_item_path %>
