<h1>Listing ball_landing_items</h1>

<table>
  <tr>
    <th>Shot</th>
    <th>Ball landing</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ball_landing_items.each do |ball_landing_item| %>
  <tr>
    <td><%= ball_landing_item.shot_id %></td>
    <td><%= ball_landing_item.ball_landing_id %></td>
    <td><%= link_to 'Show', ball_landing_item %></td>
    <td><%= link_to 'Edit', edit_ball_landing_item_path(ball_landing_item) %></td>
    <td><%= link_to 'Destroy', ball_landing_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ball landing item', new_ball_landing_item_path %>
