<p id="notice"><%= notice %></p>

<p>
  <b>Club speed:</b>
  <%= @launch.club_speed %>
</p>

<p>
  <b>Ball speed:</b>
  <%= @launch.ball_speed %>
</p>

<p>
  <b>Smash factor:</b>
  <%= @launch.smash_factor %>
</p>

<p>
  <b>Ball horizontal angle:</b>
  <%= @launch.ball_horizontal_angle %>
</p>

<p>
  <b>Ball vertical angle:</b>
  <%= @launch.ball_vertical_angle %>
</p>

<p>
  <b>Dynamic loft:</b>
  <%= @launch.dynamic_loft %>
</p>

<p>
  <b>Face angle:</b>
  <%= @launch.face_angle %>
</p>

<p>
  <b>Spin rate:</b>
  <%= @launch.spin_rate %>
</p>

<p>
  <b>Spin axis horizontal:</b>
  <%= @launch.spin_axis_horizontal %>
</p>

<p>
  <b>Spin axis vertical:</b>
  <%= @launch.spin_axis_vertical %>
</p>

<p>
  <b>Club path:</b>
  <%= @launch.club_path %>
</p>

<p>
  <b>Attack angle:</b>
  <%= @launch.attack_angle %>
</p>

<p>
  <b>Swing plane horizontal:</b>
  <%= @launch.swing_plane_horizontal %>
</p>

<p>
  <b>Swing plane vertical:</b>
  <%= @launch.swing_plane_vertical %>
</p>


<%= link_to 'Edit', edit_launch_path(@launch) %> |
<%= link_to 'Back', launches_path %>
