<%= form_for(@command_block) do |f| %>
  <% if @command_block.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@command_block.errors.count, "error") %> prohibited this command_block from being saved:</h2>

      <ul>
      <% @command_block.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :commands %><br />
    <%= f.text_field :commands %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
