<h1>Listing ball_flight_items</h1>

<table>
  <tr>
    <th>Shot</th>
    <th>Ball flight</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ball_flight_items.each do |ball_flight_item| %>
  <tr>
    <td><%= ball_flight_item.shot_id %></td>
    <td><%= ball_flight_item.ball_flight_id %></td>
    <td><%= link_to 'Show', ball_flight_item %></td>
    <td><%= link_to 'Edit', edit_ball_flight_item_path(ball_flight_item) %></td>
    <td><%= link_to 'Destroy', ball_flight_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ball flight item', new_ball_flight_item_path %>
