<h1>Listing weather_items</h1>

<table>
  <tr>
    <th>Shot</th>
    <th>Weather</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @weather_items.each do |weather_item| %>
  <tr>
    <td><%= weather_item.shot_id %></td>
    <td><%= weather_item.weather_id %></td>
    <td><%= link_to 'Show', weather_item %></td>
    <td><%= link_to 'Edit', edit_weather_item_path(weather_item) %></td>
    <td><%= link_to 'Destroy', weather_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Weather item', new_weather_item_path %>
