<p id="notice"><%= notice %></p>

<p>
  <b>Shot:</b>
  <%= @weather_item.shot_id %>
</p>

<p>
  <b>Weather:</b>
  <%= @weather_item.weather_id %>
</p>


<%= link_to 'Edit', edit_weather_item_path(@weather_item) %> |
<%= link_to 'Back', weather_items_path %>
